@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.landscape {
    grid-column: span 2;
    grid-row: span 1;
    aspect-ratio: 2/1;
}

.portrait {
    grid-column: span 1;
    grid-row: span 2;
    aspect-ratio: 1/2;
}

.square {
    grid-column: span 1;
    grid-row: span 1;
    aspect-ratio: 1/1;
}
